:root {
  --background-color: #EDF2FF;
  --primary-color: #4263EB;
  --secondary-color: #364FC7;
  --title-color: #00082F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  width: 18.75rem;
  margin: 30px auto 0px;
} 

body.dark-blue {
  --background-color: #00082F;
  --primary-color: #4263EB;
  --secondary-color: #364FC7;
  --title-color: #EDF2FF;
}

body.light-pink {
  --background-color: #FFF0F6;
  --primary-color: #D6336C;
  --secondary-color: #A61E4D;
  --title-color: #1F000B;
}

body.dark-pink {
  --background-color: #1F000B;
  --primary-color: #D6336C;
  --secondary-color: #A61E4D;
  --title-color: #FFF0F6;
}

body {
  background: var(--background-color);
  color: var(--title-color);
  font-family: 'Roboto', sans-serif;
} 

img {
  width: 100%;
}

img#avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  padding: 0.25rem;
  border: var(--primary-color) solid 4px;
}

#titulo {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#usuario {
  font-family: 'Roboto Mono', sans-serif;
  opacity: 0.8;
  font-size: 1.125rem;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 2rem 0;
}

ul li a {
  text-decoration: none;
  display: flex;
  height: 3.312rem;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.875rem;

  margin-bottom: 1rem;
  border-radius: 0.5rem;

  transition: background 0.4s;
}

ul li a:hover{
  background: var(--secondary-color);
}

footer {
  font-weight: 400;
  font-size: 0.75rem;
  opacity: 0.6;
}

footer .lista-rodape li {
  display: inline-block;
  border: black solid 1px;
  align-items: center;
  justify-content: center;
  margin: 0px 0.5rem;
  height: 1rem;
  width: 1rem;

  transition: padding 0.4s;
}

footer .lista-rodape li:hover {
  padding: 0.6rem;
  cursor: pointer;
}


#light-theme-blue {
  background: #4263EB;
}

#light-theme-pink {
  background: #D6336C;
}

#dark-theme-blue {
  background: #00082F;
}

#dark-theme-pink {
  background: #1F000B;
}